In [12]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/U.S._Chronic_Disease_Indicators__CDI_.csv")
df.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2015,2015,US,United States,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,59,ALC,ALC8_0_2,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2012,2012,DC,District of Columbia,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,11,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2012,2012,GU,Guam,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,66,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2012,2012,PR,Puerto Rico,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,72,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2012,2012,US,United States,APIS,Alcohol,Amount of alcohol excise tax by beverage type ...,NaN,$,US Dollars,...,59,ALC,ALC8_0_1,USD,OVERALL,OVR,NaN,NaN,NaN,NaN

# Proportion of missing values

In [3]:
df.isnull().mean()

YearStart                    0.000000
YearEnd                      0.000000
LocationAbbr                 0.000000
LocationDesc                 0.000000
DataSource                   0.000000
Topic                        0.000000
Question                     0.000000
Response                     0.847633
DataValueUnit                0.084030
DataValueType                0.000000
DataValue                    0.279294
DataValueAlt                 0.325913
DataValueFootnoteSymbol      0.562613
DatavalueFootnote            0.562932
LowConfidenceLimit           0.401479
HighConfidenceLimit          0.401479
StratificationCategory1      0.000000
Stratification1              0.000000
StratificationCategory2      0.847633
Stratification2              0.847633
StratificationCategory3      0.847633
Stratification3              0.847633
GeoLocation                  0.006933
ResponseID                   0.847656
LocationID                   0.000000
TopicID                      0.000000
QuestionID                   0.000000
DataValueTypeID              0.000000
StratificationCategoryID1    0.000000
StratificationID1            0.000000
StratificationCategoryID2    0.847631
StratificationID2            0.847631
StratificationCategoryID3    0.847633
StratificationID3            0.847633
dtype: float64

In [4]:
df["Topic"].value_counts()

Diabetes                                           79631
Chronic Obstructive Pulmonary Disease              78729
Cardiovascular Disease                             75787
Arthritis                                          41765
Overarching Conditions                             39362
Asthma                                             39261
Nutrition, Physical Activity, and Weight Status    33621
Alcohol                                            31850
Tobacco                                            29306
Older Adults                                       15300
Cancer                                             14101
Chronic Kidney Disease                             12395
Oral Health                                        11137
Mental Health                                       7225
Immunization                                        5220
Disability                                          2968
Reproductive Health                                 2060
Name: Topic, dtype: int64

In [8]:
df["Question"].nunique()

203

In [17]:
df[~df["Response"].isnull()]

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
261,2013,2013,OK,Oklahoma,NVSS,Alcohol,Chronic liver disease mortality,,NaN,Number,...,40,ALC,ALC6_0,NMBR,RACE,AIAN,,,,
263,2014,2014,CO,Colorado,NVSS,Cardiovascular Disease,Mortality from heart failure,,"cases per 100,000",Age-adjusted Rate,...,8,CVD,CVD1_4,AGEADJRATE,GENDER,GENM,,,,
267,2012,2012,NH,New Hampshire,NVSS,Alcohol,Chronic liver disease mortality,,NaN,Number,...,33,ALC,ALC6_0,NMBR,GENDER,GENM,,,,
268,2013,2013,VT,Vermont,State Inpatient Data,Cardiovascular Disease,Hospitalization for acute myocardial infarction,,"cases per 10,000",Crude Rate,...,50,CVD,CVD3_2,CRDRATE,RACE,BLK,,,,
271,2011,2011,AZ,Arizona,NVSS,Alcohol,Chronic liver disease mortality,,"cases per 100,000",Age-adjusted Rate,...,4,ALC,ALC6_0,AGEADJRATE,RACE,HIS,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519685,2011,2011,SD,South Dakota,NVSS,Diabetes,Mortality due to diabetes reported as any list...,,"cases per 100,000",Crude Rate,...,46,DIA,DIA1_1,CRDRATE,OVERALL,OVR,,,,
519693,2010,2010,NV,Nevada,SEDD; SID,Chronic Obstructive Pulmonary Disease,Emergency department visit rate for chronic ob...,,"cases per 10,000",Age-adjusted Rate,...,32,COPD,COPD6_2,AGEADJRATE,RACE,API,,,,
519696,2013,2013,VT,Vermont,State Inpatient Data,Chronic Obstructive Pulmonary Disease,Hospitalization for chronic obstructive pulmon...,,"cases per 10,000",Age-adjusted Rate,...,50,COPD,COPD5_2,AGEADJRATE,GENDER,GENM,,,,
519705,2013,2013,TX,Texas,State Inpatient Data,Cardiovascular Disease,Hospitalization for stroke,,"cases per 10,000",Age-adjusted Rate,...,48,CVD,CVD3_1,AGEADJRATE,OVERALL,OVR,,,,
519706,2011,2011,SD,South Dakota,NVSS,Cardiovascular Disease,Mortality from heart failure,,"cases per 100,000",Crude Rate,...,46,CVD,CVD1_4,CRDRATE,OVERALL,OVR,,,,

In [15]:
df.shape

(519718, 34)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519718 entries, 0 to 519717
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   YearStart                  519718 non-null  int64
 1   YearEnd                    519718 non-null  int64
 2   LocationAbbr               519718 non-null  object
 3   LocationDesc               519718 non-null  object
 4   DataSource                 519718 non-null  object
 5   Topic                      519718 non-null  object
 6   Question                   519718 non-null  object
 7   Response                   79188 non-null   object
 8   DataValueUnit              476046 non-null  object
 9   DataValueType              519718 non-null  object
 10  DataValue                  374564 non-null  object
 11  DataValueAlt               350335 non-null  float64
 12  DataValueFootnoteSymbol    227318 non-null  object
 13  DatavalueFootnote          227152 non-null  object
 14  LowConfidenceLimit         311062 non-null  float64
 15  HighConfidenceLimit        311062 non-null  float64
 16  StratificationCategory1    519718 non-null  object
 17  Stratification1            519718 non-null  object
 18  StratificationCategory2    79188 non-null   object
 19  Stratification2            79188 non-null   object
 20  StratificationCategory3    79188 non-null   object
 21  Stratification3            79188 non-null   object
 22  GeoLocation                516115 non-null  object
 23  ResponseID                 79176 non-null   object
 24  LocationID                 519718 non-null  int64
 25  TopicID                    519718 non-null  object
 26  QuestionID                 519718 non-null  object
 27  DataValueTypeID            519718 non-null  object
 28  StratificationCategoryID1  519718 non-null  object
 29  StratificationID1          519718 non-null  object
 30  StratificationCategoryID2  79189 non-null   object
 31  StratificationID2          79189 non-null   object
 32  StratificationCategoryID3  79188 non-null   object
 33  StratificationID3          79188 non-null   object
dtypes: float64(3), int64(3), object(28)
memory usage: 134.8+ MB

In [19]:
df["Question"].apply(len).max()

179